body {
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  padding-left: 10px;
}

span {
  font-size: 0.8em;
}

.example {
  padding: 10px;
  border-bottom: 1px solid #999;
}

.primary-input {
  width: 180px;
  font-size: 0.9rem;
  border: 0;
  outline: 0;
  background: transparent;
}

.primary-input:hover {
  cursor: pointer;
  border-bottom: 1px solid #999;
}

.primary-input:focus {
  border-bottom: 1px solid #999;
}

.make-primary-btn {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle-btn {
  cursor: pointer;
}

.alternate-value {
  width: 180px;
  display: inline-block;
}
